/*Layout*/
html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

.navbar {
    position: static;
}

@media (min-width: 979px) {
    body {
        padding-top: 88px;
        padding-bottom: 40px;
    }

    .navbar {
        position: fixed;
    }
}

div.navbar ul.nav, 
div.navbar .btn.btn-navbar {
    margin: 14px 0 0 0;
}

div.navbar a.brand {
    max-width: 100%;
}



/*Widgets*/
.carousel img {
    max-width: 100%;
}

/*Utils*/
.center {
    text-align: center;
}
